* {
    box-sizing: border-box;
}
h1 {
    font-family: "Koulen";
    color: #011F26;
    font-size: 2.5em;
}

h2 {
    font-family: "Zen Loop";
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    letter-spacing: .1em;
}

p {
    font-family: "Yanone Kaffeesatz";
    color: #011F26;
}
li {
    font-family: "Yanone Kaffeesatz";
    color: #011F26;
}
.subhd {
    color: #fff;
    background-color: #025E73;
}
.container {
    box-shadow: .13em .18em .13em .18em rgba(0, 0, 0, .05);
    width: 90%;
    margin: 0 auto;
}
table {
    border-spacing: 30px;
}
/* Banner */
.banner {
    margin-left: 2em;
    color: #F2A71B;
    letter-spacing: 1em;
}
/* Color Section   */
.swatch {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: column;
    margin: 70px ;
    text-align: center;
    justify-content: center;
}
.color1 {
    color: #025E73;
    background-color: #025E73;
}
.color2 {
    color: #011F26;
    background-color: #011F26;
}
.color3 {
    color: #A5A692;
    background-color: #A5A692;
}
.color4 {
    color: #BFB78F;
    background-color: #BFB78F;
}
.color5 {
    color: #F2A71B;
    background-color: #F2A71B;
}
.name {
    position: relative;
    top: 70px;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: .4em;
    font-size: 1.4em;
}
.hue {
    color: #fff;
    font-weight: bold;
    position: relative;
    top: 30px;
    letter-spacing: .4em;
    font-size: larger;
}
p.swatch {
    font-weight: 300;
}
/* Font Section */
.font1 {
    font-family: "Koulen";
}
.font2 {
    font-family: "Zen Loop";
}
.font3 {
    font-family: "Yanone Kaffeesatz";
}
th.font1, th.font2, th.font3 {
    text-decoration: underline;
    letter-spacing: .2em;
}
.fonts {
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
/* Text Styles Section */
.textstyles {
    padding-left: 30px;
    padding-bottom: 30px;
}
.headings {
    margin-left: 20px;
}
.subheadings {


}
.paragraph {

}
h1.headings {
    margin-bottom: -10px;
}